{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  {% block links_save %}
  {% endblock links_save %}
{% endblock  %}

{% block style %}
{% block style_save %}
{% endblock style_save %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Varela+Round&display=swap');
  .filters{
    text-align: center;
  }

  .myDiv{
    columns:50px 4;
    text-align: center;
  }

  .card-img-top {

    width: 20%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.row {
  padding-top: 5%;
  justify-content: space-between;
}


.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f0f8ff;
  background-clip: border-box;
  border: 1px solid rgb(240 248 255);
  border-radius: 0.25rem;
}

.Course{
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
}

.box {

    padding-top: 2%;
    position: static;
    left: 50%;
}
.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
label{
  font-size: 41px;
  font-family: 'Assistant', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.alert{
  text-align: center;
}

.check {

  padding-top: 2%;
  position: static;
  left: 50%;
}
.check select {
background-color: #000;
color: white;
padding: 12px;
width: 301px;
border: none;
font-size: 20px;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
-webkit-appearance: button;
appearance: button;
text-align: center;
margin-bottom: 20px;
border-radius: 30px;
}

.check::before {
content: "\f13a";
font-family: FontAwesome;
position: absolute;
top: 0;
right: 0;
width: 20%;
height: 100%;
text-align: center;
font-size: 28px;
line-height: 45px;
color: rgba(255, 255, 255, 0.5);
background-color: rgba(255, 255, 255, 0.1);
pointer-events: none;
}


</style>

{% endblock style %}


{% block content %}

  <div class="filters">
    {% block Save_Up %}
    {% endblock Save_Up %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="box">
        {{form.kind_of}}
        <span style="padding-left:10px">
        <label for="">חומר</label>
        <span style="padding-left:40px">
        {{form.semester}}
        <span style="padding-left:10px">
        <label for="">סמסטר</label>
        <span style="padding-left:40px">
        {{form.year}}
        <span style="padding-left:10px">
        <label id="Year" for="">שנה</label>

        <span style="padding-left:40px">
        {{form.department}}
        <span style="padding-left:10px">
        <label for="">מחלקה</label>
      </div>
      <br>
      <br>
      {% block buttons %}
      <button type="submit" class="btn btn-info">Search</button>
      {% if user.is_lecturer and user.permissions or user.is_superuser%}
      <button type="submit" class="btn btn-success"><a style="color: white; text-decoration: none;" href="{% url 'Category:create-course' %}">Create Folder</a></button>
      {% endif %}
      {% endblock buttons %}
    </form>
  </div>
  <hr>
    {% block createFolder %}
    {% if folder %}
    <form action="{% url 'Category:create-course' %}" method="post">
      <div class="filters">
        {% csrf_token %}
        <div class="check">
          <label for="">שם הקורס</label>
          <br>
          {{folder.name_course}}
          <br>
          <label for="">בחר מחלקה</label>
          <br>
          {{folder.department}}
          <br>
          <label for="">בחר שנה</label>
          <br>
          {{folder.year}}
          <br>
          <label for="">בחר סמסטר</label>
          <br>
          {{folder.semester}}
          <br>
          <label for="">סוג חומר</label>
          <br>
          {{folder.kind_of}}
          <br>
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
      </div>
    </form>
    {% endif %}
    {% endblock createFolder %}
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
  {% block all_coursesYo %}
    {% if all_courses %}
    <div class="row">
      {% for course in all_courses  %}
      <div class="col-md-4">
        <br>
        <div class="card">
              <img class="card-img-top img-fluid" src="{% static 'images/folder.png' %}" alt="">
              <div class="card-body">
                {% if course.kind_of == '5' %}
                <h4 class="card-title text-center"> <a class="Course" href="{% url 'Category:videos' course.id%}"><b>{{course.name_course}}</b></a></h4>
                {% else %}
                <h4 class="card-title text-center"> <a class="Course" href="{% url 'Category:homework' course.id user.id %}"><b>{{course.name_course}}</b></a></h4>
                {% endif %}
                <h5 class="card-title"></h5>
              </div>
              <div class="col text-center">
              </div>
              <br>
            </div>
          </div>
          {% endfor %}
          <hr>
        </div>
        {% endif %}
  {% endblock all_coursesYo %}
    {% block Save_down %}
    {% endblock Save_down %}

   {% endblock %}
